<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}" />
    {% endif %}{% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}" />
    {% endif %}

    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}" />
    {% endif %}

    <link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />
</head>
<body>
    <section class="section section-info">
        <div class="container">
            {{ content }}
        </div>
    </section>

    <nav class="navbar">
        <div class="container">
            <div class="navbar-right">
                <div class="navbar-item">
                    <a href="/">Home</a>
                </div>
                <div class="navbar-item">
                    <a href="/about">About</a>
                </div>
                <div class="navbar-item">
                    <a href="/media">Media</a>
                </div>
                <div class="navbar-item">
                    <a href="/news" class="is-active">News</a>
                </div>
                <div class="navbar-item">
                    <a href="/forums">Forums</a>
                </div>
                <div class="navbar-item">
                    <a href="https://www.indiegogo.com/projects/dead-matter" target="_blank" class="is-primary">Become A
                    Backer</a>
                </div>
            </div>
        </div>
    </nav>

    <header class="header">
        <div class="header-content">
            <div class="container">
                <img src="{{ theme_url }}/img/DMLogo-Red-min.png" alt="Dead Matter"/>
            </div>
        </div>
    </header>

    {% if paged_pages %}
    <section class="section">
        {% for page in paged_pages|sort_by("time")|reverse %}
            {% if page.id starts with "posts/" and not page.hidden %}
                <a class="blog" href="{{ page.url }}">
                    <article class="blog-post">
                        <div class="container">
                        <div class="blog-post-title">
                            <div>{{ page.title }}</div>
                        </div>
                        <div class="blog-post-date">{{ page.date_formatted }}</div>
                        <div class="blog-post-content">{{ page.description }}</div>
                        </div>
                    </article>
                </a>
            {% endif %}
        {% endfor %}
    </section>
    {% endif %}

    {% if pagination_links %}
        <section class="section section-controls">
            <div class="container">
                {{ pagination_links }}
            </div>
        </section>
    {% endif %}
</body>
</html>
